.blog-main {

    font-family: "Times New Roman", Times, serif, Georgia;
    color: #555;
    font-size: 20px;
    line-height: 1.5;
}

.blog-side-module-inset {
    padding: 15px;
    background-color: #f5f5f5;
    border-radius: 4px;
}

.blog-side-module {
    padding: 15px;
}
/*
 * Override Bootstrap's default container.
 */

@media (min-width: 1200px) {
    .container {
        width: 970px;
    }
}
.container .text-muted {
    margin: 20px 0;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}
